linked automation.json
{
  "name": "linked automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1IMUVavZFRudd9n1Fei1JDLo3NKWNeVIV4H9CjMfJ5-U",
          "mode": "list",
          "cachedResultName": "work flow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IMUVavZFRudd9n1Fei1JDLo3NKWNeVIV4H9CjMfJ5-U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IMUVavZFRudd9n1Fei1JDLo3NKWNeVIV4H9CjMfJ5-U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "4138ffc8-7aab-437a-9506-6d8fd604bb7d",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "S4segdRrv6EldY1M",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=summarize this article \n {{ $json.newslinks }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        400,
        0
      ],
      "id": "b6ec6cfd-3af5-45c4-805d-51d5f5aee48f",
      "name": "summarize ariticale"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        208
      ],
      "id": "715e0182-a43a-475d-a874-4d806e866d15",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QqOO4y6htFD1uiXg",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an industry expert and draft a LinkedIn post discussing key points from a news article relevant to artificial intelligence. The post should provide insightful analysis, connect with current industry trends, and encourage professional engagement or discussion. Highlight any notable implications for the industry. Since LinkedIn supports detailed posts, ensure it is informative and structured. Include a professional call to action. \n“Generate a LinkedIn post under 2000 characters.”\nHere's a summary of the article: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        656,
        0
      ],
      "id": "ec788df5-995e-4190-b09a-7be78bc2408b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        192
      ],
      "id": "604eaa96-ab65-4bf8-80b0-9cc70a171c4e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QqOO4y6htFD1uiXg",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "person": "ADVCgJgL_I",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        960,
        0
      ],
      "id": "c5317d59-4f44-426e-9b54-3d1858ae53bc",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "rTijddk79b1uUdZA",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "summarize ariticale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summarize ariticale": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "summarize ariticale",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "29c23a3f-182c-4dde-b5a4-69839b0990a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a42fec59a735878a0d4ef0bbe4a1d924ba227ee9ad66127341600540f283118"
  },
  "id": "GGkKYAWlkRpgBw3i",
  "tags": []
}